@import "tailwindcss";

@utility col-grid-autofit{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@theme{
    --color-dark-blue: oklch(21.613% 0.09471 275.052);
}

@layer base{

    h1 h2 h3 h4{
        font-weight: 900;
    }
}

@layer components{
    .btn{
        @apply bg-fuchsia-700 px-4 py-2.5 rounded-full text-center font-bold hover:bg-fuchsia-500 transition-colors inline-block
    }
}