* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: math;
  text-align: center;
}
#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 5fr 1.5fr;
  height: 100%;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 8vh; */
  background-color: seagreen;
  padding: 10px;
}

#foot {
  background-color: coral;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header {
  background-color: crimson;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
